@charset "UTF-8";
/* line 2, ../_sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 16, ../_sass/mobile.scss */
canvas {
  display: inline-block; }

/* line 20, ../_sass/mobile.scss */
table th, table td {
  border: 1px solid #dddddd;
  padding: 6px 13px; }

/* line 25, ../_sass/mobile.scss */
.swatch {
  width: 10px;
  height: 10px;
  display: inline-block; }

/* line 31, ../_sass/mobile.scss */
table.legtable {
  width: 100%;
  font-size: 12px; }

/* line 36, ../_sass/mobile.scss */
table.legtable .legval {
  display: inline-block;
  width: 100%; }

/* line 42, ../_sass/mobile.scss */
table.jswap {
  width: 130%;
  height: 700px; }

/* line 47, ../_sass/mobile.scss */
table.jswap td, th, tr {
  border: 0px solid #dddddd;
  padding: 0px 0px;
  vertical-align: top; }

/* line 53, ../_sass/mobile.scss */
td.jleft, td.jright {
  width: 110px; }

/* line 57, ../_sass/mobile.scss */
#dembar {
  width: 100%;
  height: 30px;
  background-color: #377eb8; }

/* line 63, ../_sass/mobile.scss */
#repbar {
  width: 100%;
  height: 30px;
  background-color: #e41a1c; }

/* line 69, ../_sass/mobile.scss */
#jprof {
  width: 100%; }

/* line 73, ../_sass/mobile.scss */
.justice {
  width: 100%; }

/* line 77, ../_sass/mobile.scss */
.justice:hover {
  width: 100%;
  border: 1px solid #dddddd; }

/* line 84, ../_sass/mobile.scss */
.sigma-parent {
  position: relative;
  border-radius: 4px;
  background: none repeat scroll 0% 0% #222222;
  height: 850px;
  width: 850px;
  display: inline-block; }

/* line 94, ../_sass/mobile.scss */
.sigma-expand {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: block;
  overflow: visible; }

/* line 103, ../_sass/mobile.scss */
body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  margin: 0;
  color: #444444;
  font-size: 1.2em;
  min-width: 257px; }

/* line 111, ../_sass/mobile.scss */
a {
  color: #5ea5ff;
  text-decoration: none; }

/* line 116, ../_sass/mobile.scss */
a:hover {
  text-decoration: underline; }

/* line 120, ../_sass/mobile.scss */
h1, h2, h3, h4, h5 {
  color: #222222;
  font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 0.8em;
  margin: 0.4em 0; }
  /* line 127, ../_sass/mobile.scss */
  h1 a, h2 a, h3 a, h4 a, h5 a {
    color: inherit; }
  /* line 130, ../_sass/mobile.scss */
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
    text-decoration: none; }

/* line 135, ../_sass/mobile.scss */
h1 {
  font-size: 4em; }

/* line 139, ../_sass/mobile.scss */
h2 {
  font-size: 3.5em; }

/* line 143, ../_sass/mobile.scss */
h3 {
  font-size: 3em; }

/* line 147, ../_sass/mobile.scss */
h4 {
  font-size: 2.5em; }

/* line 151, ../_sass/mobile.scss */
h5 {
  font-size: 2em; }

/* line 155, ../_sass/mobile.scss */
h1.hero {
  font-size: 4.5em;
  margin: 0.5em 0 0.1em; }

/* line 160, ../_sass/mobile.scss */
p {
  line-height: 1.5em;
  margin: 1em 0; }

/* line 165, ../_sass/mobile.scss */
.wrapper {
  padding: 20px; }

/* line 169, ../_sass/mobile.scss */
.container {
  zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  max-width: 780px;
  position: relative; }
  /* line 18, ../_sass/bourbon/addons/_clearfix.scss */
  .container:before, .container:after {
    content: "";
    display: table; }
  /* line 23, ../_sass/bourbon/addons/_clearfix.scss */
  .container:after {
    clear: both; }

/* line 175, ../_sass/mobile.scss */
header a {
  color: inherit; }
  /* line 177, ../_sass/mobile.scss */
  header a:hover {
    text-decoration: none; }

/* line 182, ../_sass/mobile.scss */
header nav ul {
  font-size: 16px;
  zoom: 1;
  list-style: none;
  padding: 0;
  margin: 0 0 10px; }
  /* line 18, ../_sass/bourbon/addons/_clearfix.scss */
  header nav ul:before, header nav ul:after {
    content: "";
    display: table; }
  /* line 23, ../_sass/bourbon/addons/_clearfix.scss */
  header nav ul:after {
    clear: both; }

/* line 190, ../_sass/mobile.scss */
header .logo {
  color: #a31010; }

/* line 194, ../_sass/mobile.scss */
header nav li {
  float: left; }
  /* line 196, ../_sass/mobile.scss */
  header nav li a {
    padding-right: 20px; }

/* line 201, ../_sass/mobile.scss */
header nav.subnav {
  z-index: 2;
  margin: 10px 0 -40px;
  position: absolute;
  right: 0; }

/* line 208, ../_sass/mobile.scss */
header .subnav a {
  padding-right: 0;
  padding-left: 20px; }

/* line 213, ../_sass/mobile.scss */
header .nav-slider {
  height: 10px;
  background-color: #111111;
  position: relative; }

/* line 219, ../_sass/mobile.scss */
header .nav-selection {
  position: absolute;
  height: 10px;
  background-color: #a31010; }

/* line 225, ../_sass/mobile.scss */
header .nav-selection.two {
  width: 75px;
  left: 49px; }

/* line 230, ../_sass/mobile.scss */
header .nav-selection.one {
  width: 40px;
  left: 0; }

/* line 235, ../_sass/mobile.scss */
header .nav-selection.three {
  width: 90px;
  left: 90px; }

/* line 240, ../_sass/mobile.scss */
header .subnav-selection {
  position: absolute;
  height: 10px;
  background-color: #111111;
  width: 50px; }

/* line 247, ../_sass/mobile.scss */
header .subnav-selection.one {
  right: 140px;
  width: 42px; }

/* line 252, ../_sass/mobile.scss */
header .subnav-selection.two {
  right: 87px;
  width: 35px; }

/* line 257, ../_sass/mobile.scss */
header .subnav-selection.three {
  right: 0;
  width: 69px; }

/* line 262, ../_sass/mobile.scss */
header .profile {
  float: right;
  height: 58px;
  max-width: 84px;
  margin-top: 14px;
  text-align: right; }

/* line 270, ../_sass/mobile.scss */
header .social {
  width: 16px;
  float: left; }

/* line 275, ../_sass/mobile.scss */
header .social img {
  display: block;
  margin: 9px 0; }

/* line 280, ../_sass/mobile.scss */
header .avatar {
  height: 58px;
  width: 58px;
  border: 2px solid #111111;
  float: left;
  margin-left: 10px; }
  /* line 286, ../_sass/mobile.scss */
  header .avatar img {
    width: 100%;
    height: 100%; }
  @media (max-width: 20.4375em) {
    /* line 280, ../_sass/mobile.scss */
    header .avatar {
      display: none; } }

/* line 295, ../_sass/mobile.scss */
.github {
  display: none; }

/* line 299, ../_sass/mobile.scss */
footer {
  margin-top: 30px; }

/* line 303, ../_sass/mobile.scss */
footer ul {
  padding: 0; }

/* line 307, ../_sass/mobile.scss */
footer nav {
  border-width: 10px 0 0;
  border-style: solid;
  border-color: #111111;
  padding-top: 20px; }

/* line 314, ../_sass/mobile.scss */
footer nav ul li {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%; }
  /* line 62, ../_sass/neat/grid/_grid.scss */
  footer nav ul li:last-child {
    margin-right: 0; }
  @media screen and (max-width: 40em) {
    /* line 314, ../_sass/mobile.scss */
    footer nav ul li {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%;
      margin-bottom: 10px; }
      /* line 62, ../_sass/neat/grid/_grid.scss */
      footer nav ul li:last-child {
        margin-right: 0; }
      /* line 319, ../_sass/mobile.scss */
      footer nav ul li:nth-child(2n) {
        margin-right: 0; } }

/* line 325, ../_sass/mobile.scss */
ul, ol {
  line-height: 1.5em;
  padding-left: 20px;
  font-size: 1em; }

/* line 331, ../_sass/mobile.scss */
ul {
  list-style: square; }

/* line 335, ../_sass/mobile.scss */
.post {
  border-top: 1px solid #222222;
  margin-bottom: 5em; }

/* line 340, ../_sass/mobile.scss */
.post:first-child, .post.no-border {
  border-top: none; }

/* line 344, ../_sass/mobile.scss */
.post-header .date {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  text-decoration: lowercase;
  margin: 1em 0 -1.2em; }

/* line 350, ../_sass/mobile.scss */
#projects {
  margin-top: 40px; }

/* line 354, ../_sass/mobile.scss */
.project {
  display: block;
  border: 1px solid #cccccc;
  margin-bottom: 2.35765%;
  padding: 2.35765%;
  color: inherit; }
  /* line 360, ../_sass/mobile.scss */
  .project:hover {
    border-color: #5ea5ff;
    text-decoration: none; }

/* line 366, ../_sass/mobile.scss */
.project h2 {
  font-size: 3em; }

/* line 370, ../_sass/mobile.scss */
.project:nth-child(2n) {
  margin-right: 0; }

/* line 374, ../_sass/mobile.scss */
.pagination {
  margin-top: 30px; }

/* line 378, ../_sass/mobile.scss */
.button, .key-selector a {
  background: #222222;
  color: white;
  padding: 0.4em 0;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em; }

/* line 389, ../_sass/mobile.scss */
.key-selector a {
  float: left;
  padding: 0.5em 0.4em 0.4em;
  margin-right: 0.4em;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 0.9em; }

/* line 397, ../_sass/mobile.scss */
.key-selector a.active {
  background-color: #a31010; }

/* line 401, ../_sass/mobile.scss */
.button:hover, .button:active {
  -webkit-box-shadow: 0 0 1px 2px black inset;
  box-shadow: 0 0 1px 2px black inset; }

/* line 405, ../_sass/mobile.scss */
.pagination .button span {
  position: relative; }

/* line 409, ../_sass/mobile.scss */
.pagination a.previous span:before {
  content: "←";
  position: absolute;
  left: -30px; }

/* line 415, ../_sass/mobile.scss */
.pagination a.next span:after {
  content: "→";
  position: absolute;
  left: 50px; }

/* line 421, ../_sass/mobile.scss */
pre {
  font-family: 'Source Code Pro', monospace; }

/* line 425, ../_sass/mobile.scss */
.chords {
  color: white; }

/* line 429, ../_sass/mobile.scss */
.chords strong {
  color: #a31010; }
