<header>
    <div class="container">
        <div class="profile">
            analyzing
            the US supreme
            court
            <!-- KEEP FOR CSS SPACING -->
        </div>
        <h5 class="logo"><a href="{{site.baseurl}}">benchmarked</a></h5>
        <nav class="main">
            <ul>
                {% if page.nav == "one" %}
                    <li><a href="{{site.baseurl}}" class="active">Overview</a></li>
                {% else %}
                    <li><a href="{{site.baseurl}}">Overview</a></li>
                {% endif %}
                
                {% if page.nav == "two" %}
                <li><a href="{{site.baseurl}}data.html" class="active">The Data</a></li>
                {% else %}
                <li><a href="{{site.baseurl}}data.html">The Data</a></li>
                {% endif %}
                
                {% if page.nav == "three" %}
                <li><a href="{{site.baseurl}}explore.html" class="active">Exploration</a></li>
                {% else %}
                <li><a href="{{site.baseurl}}explore.html">Exploration</a></li>
                {% endif %}

                {% if page.nav == "three" %}
                <li><a href="{{site.baseurl}}bias.html" class="active">Bias</a></li>
                {% else %}
                <li><a href="{{site.baseurl}}bias.html">Bias</a></li>
                {% endif %}

                {% if page.nav == "four" %}
                <li><a href="{{site.baseurl}}preds.html" class="active">Justice Model</a></li>
                {% else %}
                <li><a href="{{site.baseurl}}preds.html">Justice Model</a></li>
                {% endif %}

                {% if page.nav == "five" %}
                <li><a href="{{site.baseurl}}preds2.html" class="active">Citation Model</a></li>
                {% else %}
                <li><a href="{{site.baseurl}}preds2.html">Citation Model</a></li>
                {% endif %}

                {% if page.nav == "six" %}
                <li><a href="{{site.baseurl}}conclusions.html" class="active">Conclusions</a></li>
                {% else %}
                <li><a href="{{site.baseurl}}conclusions.html">Conclusions</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="nav-slider">
            <div class="nav-selection {{ page.nav }}"></div>
        </div>
        <div class="subnav-slider">
            <div class="subnav-selection {{ page.subnav }}"></div>
        </div>
        <nav class="subnav">
            <ul>
                {% if page.subnav == "one" %}
                    <li><a href="{{site.baseurl}}about.html" class="active">about us</a></li>
                {% else %}
                    <li><a href="{{site.baseurl}}about.html">about us</a></li>
                {% endif %}
                {% if page.subnav == "two" %}
                    <li><a href="http://nbviewer.ipython.org/github/pjbull/benchmarked/blob/master/Process.ipynb" class="active">nbviewer</a></li>
                {% else %}
                    <li><a href="http://nbviewer.ipython.org/github/pjbull/benchmarked/blob/master/Process.ipynb">nbviewer[td]</a></li>
                {% endif %}
                {% if page.subnav == "three" %}
                    <li><a href="https://github.com/pjbull/benchmarked/" class="active">github</a></li>
                {% else %}
                    <li><a href="https://github.com/pjbull/benchmarked/">github</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
