<header>
    <div class="container">
        <div class="profile">
            analyzing
            the US supreme
            court
            <!-- KEEP FOR CSS SPACING -->
        </div>
        <h5 class="logo"><a href="{{site.baseurl}}">benchmarked</a></h5>
        <nav class="main">
            <ul>
                {% if page.nav == "one" %}
                    <li><a href="{{site.baseurl}}" class="active">Intro</a></li>
                {% else %}
                    <li><a href="{{site.baseurl}}">Intro</a></li>
                {% endif %}
                {% if page.nav == "two" %}
                <li><a href="{{site.baseurl}}/analysis.html" class="active">Seeing the Data</a></li>
                {% else %}
                <li><a href="{{site.baseurl}}/analysis.html">Seeing the Data</a></li>
                {% endif %}
                {% if page.nav == "three" %}
                <li><a href="{{site.baseurl}}/preds.html" class="active">Predictions</a></li>
                {% else %}
                <li><a href="{{site.baseurl}}/preds.html">Predictions</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="nav-slider">
            <div class="nav-selection {{ page.nav }}"></div>
        </div>
        <div class="subnav-slider">
            <div class="subnav-selection {{ page.subnav }}"></div>
        </div>
        <nav class="subnav">
            <ul>
                {% if page.subnav == "one" %}
                    <li><a href="{{site.baseurl}}/about.html" class="active">about us</a></li>
                {% else %}
                    <li><a href="{{site.baseurl}}/about.html">about us</a></li>
                {% endif %}
                {% if page.subnav == "two" %}
                    <li><a href="/to-nb-viewer" class="active">nbviewer[td]</a></li>
                {% else %}
                    <li><a href="/to-nb-viewer">nbviewer[td]</a></li>
                {% endif %}
                {% if page.subnav == "three" %}
                    <li><a href="https://github.com/pjbull/the_supremes/" class="active">github</a></li>
                {% else %}
                    <li><a href="https://github.com/pjbull/the_supremes/">github</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
