<script type="text/javascript" charset="utf-8">
    document.onreadystatechange = function() {
        if ( document.readyState == 'complete' ) {
            var active = document.querySelector( 'header nav.main a.active' ).innerHTML.toLowerCase(),
                links = document.querySelectorAll( 'header nav.main li a'),
                selection = document.querySelector( 'header .nav-selection' ),
                subactive = document.querySelector( 'header nav.subnav a.active' ).innerHTML.toLowerCase(),
                sublinks = document.querySelectorAll( 'header nav.subnav li a'),
                subselection = document.querySelector( 'header .subnav-selection' ),
                i, j, link;
            for ( i = 0; i < links.length; i++ ) {
                link = links[ i ];
                link.addEventListener( 'mouseover', function() {
                    selection.className = 'nav-selection';
                    selection.className = 'nav-selection ' + this.innerHTML.toLowerCase();
                });
                link.addEventListener( 'mouseout', function() {
                    selection.className = 'nav-selection ' + active;
                });
            }
            for ( i = 0; i < sublinks.length; i++ ) {
                link = sublinks[ i ];
                link.addEventListener( 'mouseover', function() {
                    subselection.className = 'subnav-selection';
                    subselection.className = 'subnav-selection ' + this.innerHTML.toLowerCase();
                });
                link.addEventListener( 'mouseout', function() {
                    subselection.className = 'subnav-selection ' + subactive;
                });
            }
        }
    };
</script>


<script type="text/javascript">
// Declare Arrays
    imgList = new Array();
    imgList["roberts"] = new Array();
    imgList["scalia"] = new Array();
    imgList["kennedy"] = new Array();
    imgList["thomas"] = new Array();
    imgList["ginsburg"] = new Array();
    imgList["breyer"] = new Array();
    imgList["alito"] = new Array();
    imgList["sotomayor"] = new Array();
    imgList["kagan"] = new Array();

//Set values for each mouse state
  imgList["roberts"]["out"] = "{{site.baseurl}}img/prof/JGRoberts.png";
  imgList["roberts"]["over"] = "{{site.baseurl}}img/prof/JGRoberts.png";

  imgList["scalia"]["out"] = "{{site.baseurl}}img/prof/JGRoberts.png";
  imgList["scalia"]["over"] = "{{site.baseurl}}img/prof/AScalia.png";

  imgList["kennedy"]["out"] = "{{site.baseurl}}img/prof/JGRoberts.png";
  imgList["kennedy"]["over"] = "{{site.baseurl}}img/prof/AKennedy.png";

  imgList["thomas"]["out"] = "{{site.baseurl}}img/prof/JGRoberts.png";
  imgList["thomas"]["over"] = "{{site.baseurl}}img/prof/CThomas.png";

  imgList["ginsburg"]["out"] = "{{site.baseurl}}img/prof/JGRoberts.png";
  imgList["ginsburg"]["over"] = "{{site.baseurl}}img/prof/RGinsburg.png";

  imgList["breyer"]["out"] = "{{site.baseurl}}img/prof/JGRoberts.png";
  imgList["breyer"]["over"] = "{{site.baseurl}}img/prof/SBreyer.png";


  imgList["alito"]["out"] = "{{site.baseurl}}img/prof/JGRoberts.png";
  imgList["alito"]["over"] = "{{site.baseurl}}img/prof/SAlito.png";

  imgList["sotomayor"]["out"] = "{{site.baseurl}}img/prof/JGRoberts.png";
  imgList["sotomayor"]["over"] = "{{site.baseurl}}img/prof/SSotomayor.png";

  imgList["kagan"]["out"] = "{{site.baseurl}}img/prof/JGRoberts.png";
  imgList["kagan"]["over"] = "{{site.baseurl}}img/prof/EKagan.png";


//Add the swapping functions
  $("img.justice").mouseover(function(){
    $("img#jprof").attr("src", imgList[ $(this).attr("id") ]["over"]);
  });

  $("img.justice").mouseout(function(){
    $("img#jprof").attr("src", imgList[ $(this).attr("id") ]["out"]);
  });
</script>

<script type="text/javascript">
    function init() {
    // Instanciate sigma.js and customize rendering :
    var sigInst = sigma.init(document.getElementById('sigma-example')).drawingProperties({
    defaultLabelColor: '#fff',
    defaultLabelSize: 12,
    defaultLabelBGColor: '#fff',
    defaultLabelHoverColor: '#000',
    labelThreshold: 7,
    defaultEdgeType: 'curve'
    }).graphProperties({
    minNodeSize: 0.5,
    maxNodeSize: 13,
    minEdgeSize: 1,
    maxEdgeSize: 1,
    sideMargin: 50
    }).mouseProperties({
    maxRatio: 32
    });
     
    // Bind events :
    var greyColor = '#666';
    sigInst.bind('overnodes',function(event){
    var nodes = event.content;
    var neighbors = {};
    sigInst.iterEdges(function(e){
    if(nodes.indexOf(e.source)<0 && nodes.indexOf(e.target)<0){
    if(!e.attr['grey']){
    e.attr['true_color'] = e.color;
    e.color = greyColor;
    e.attr['grey'] = 1;
    }
    }else{
    e.color = e.attr['grey'] ? e.attr['true_color'] : e.color;
    e.attr['grey'] = 0;
     
    neighbors[e.source] = 1;
    neighbors[e.target] = 1;
    }
    }).iterNodes(function(n){
    if(!neighbors[n.id]){
    if(!n.attr['grey']){
    n.attr['true_color'] = n.color;
    n.color = greyColor;
    n.attr['grey'] = 1;
    }
    }else{
    n.color = n.attr['grey'] ? n.attr['true_color'] : n.color;
    n.attr['grey'] = 0;
    }
    }).draw(2,2,2);
    }).bind('outnodes',function(){
    sigInst.iterEdges(function(e){
    e.color = e.attr['grey'] ? e.attr['true_color'] : e.color;
    e.attr['grey'] = 0;
    }).iterNodes(function(n){
    n.color = n.attr['grey'] ? n.attr['true_color'] : n.color;
    n.attr['grey'] = 0;
    }).draw(2,2,2);
    });
 
    // Parse a GEXF encoded file to fill the graph
    // (requires "sigma.parseGexf.js" to be included)
    sigInst.parseGexf('/data/cite_graph.gexf');
     
    // Draw the graph :
    sigInst.draw();
    }
     
    if (document.addEventListener) {
    document.addEventListener("DOMContentLoaded", init, false);
    } else {
    window.onload = init;
    }
</script>
